/*
.col{
  background-color:gray !important;
  border:thin solid black;
  text-align:center !important;
}

.item-input{
  display: block !important;
}

.input-label {
  max-width: 100% !important;
  width: 100% !important;
}


.item-select select {
  position: relative !important;
}


.item-select:after {
  top: 60% !important;
}
*/
