<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "de.geekonaut.takemeto"
    versionCode = "1.0" 
    version     = "0.1.0">

    <name>TakeMeTo</name>
    <description>Swiss public transport app with a twist</description>
    <author href="http://www.geekonaut.de" email="">Martin Naumann</author>

    <icon src="img/icon.png" />
    <icon src="img/icon36.png" gap:platform="android" gap:density="ldpi" />
    <icon src="img/icon48.png" gap:platform="android" gap:density="mdpi" />
    <icon src="img/icon72.png" gap:platform="android" gap:density="hdpi" />
    <icon src="img/icon96.png" gap:platform="android" gap:density="xhdpi" />

    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
</widget>