<ion-view title="Station info">
  <ion-header-bar class="bar-subheader">
    <h2 ng-class="{title: name}">{{name}}</h2>
  </ion-header-bar>

  <ion-content class="padding" scroll="true">
    <ul class="list">
      <li class="item item-icon-left" ng-repeat="conn in connections">
        <i class="icon ion-star" ng-class="conn.isFavourite ? 'favourite' : 'inactive'" ng-click="toggleFavourite($index)"></i>
        {{conn.name}} to {{conn.to}}
        <i class="item-note">{{conn.departure}}</i>
      </li>
    </ul>
  </ion-content>
</ion-view>
