<ion-tabs class="tabs-icon-top">
  <ion-tab title="Quick trip" icon="icon ion-flash" href="#/tab/quick">
    <ion-nav-view name="tab-quick"></ion-nav-view>
  </ion-tab>
<!--
  <ion-tab title="Find connections" icon="icon ion-navigate" href="#/tab/navigate">
    <ion-nav-view name="tab-navigate"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Planned trips" icon="icon ion-calendar" href="#/tab/schedule">
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>
-->
  <ion-tab title="Stations" icon="icon ion-map" href="#/tab/stations">
    <ion-nav-view name="tab-stations"></ion-nav-view>
  </ion-tab>


</ion-tabs>
